<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.jpg" %>
    </div>

    <div id="content">
        <h1>Hey, I'm Muhammad Ertiza Ejaz</h1>
        <p>Welcome to blog project among the 12 projects challenge.</p>
        <p>Listen to Ertiza Ejaz | SoundCloud is an audio platform that lets you listen to what you love and share the sounds you create.. 6 Followers.</p>
        <p>130 Followers, 36 Following, 16 Posts - See Instagram photos and videos from Ertiza Ejaz (@m.ertiza_ejaz)</p>
    </div>
</div>